<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bienvenido a mi Página</title>
  <style>
  </style>
</head>

<body style="background: border-box;">
  <div class="container mt-5 text-white">
    <div class="jumbotron">
      <h1 class="display-4">¡Bienvenido!</h1>
      <p class="lead">Gracias por visitar mi página de bienvenida.</p>
      <hr class="my-4">
      <p>Esta es una página simple diseñada con Bootstrap.</p>
      <p>Autor: Ivan Morales</p>
      <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/inicio">Regresar a Inicio</a>
    </div>
  </div>

</body>

</html>
