<div class="abrir-modal animacion fadeIn" >
  <div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Esta es mi experiencia</h5>
        </div>
        <div class="modal-body">
          <div class="container">
            <div style="text-align: -webkit-center;">
              <h2>Loader</h2>
              <img src="../../../assets/img/imagen-5.png" height="200px" width="500px" id="loader-image" alt="Loader Image" />
              <p id="loader-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
